#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /*text-align: center;*/
  display: flex;
  align-items: center;
  
}
.caja{
  
    width: 350px;
    flex-direction: column;
    gap: 10px;
    border: 5px solid #cbc6c6;
    border-radius: 20px;
    margin-bottom: 1px;
    padding: 30px;
}
.boton{

  background-color: #ff0000;
}
.boton2{

  background-color: #0000ff;
}
h2{
text-align: left;
}
input{
  align-items: center;
}
.card {
  padding: 2em;
}

